body {
    font-family: Montserrat;
}

#title {
    background-color: #2b78e4;
    color: #ffffff;
}

h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 7% 15%;
}

/*Navigation Bar*/

.navbar {
    padding: 0 0 5rem 0;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-size: 1.2rem;
}

/*Download Buttons*/

.download-btn {
    margin: 8% 5% 0 0;
}

/*Title image*/

.title-img {
    width: 60%;
    transform: rotate(25deg);
    margin-left: 50px;
}
/*Features*/

#features {
    padding: 3% 15%;
    text-align: center;
}

.feature-box {
    padding: 5%;
}

.icon {
    margin-bottom: 16px;
    color: cornflowerblue;
}

.icon:hover {
    color: #2b78e4 ;
}

/*Testimonials Section*/

#testimonials {
    text-align: center;
    background-color: cornflowerblue;
    color: #ffffff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-img {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

/*Press Section*/

#press {
    background-color: cornflowerblue;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}